{% extends "base.html" %}
{% block  title %}修改密码{% endblock %}
{% block header-css %}
{% endblock %}

{% block page-content %}
    {% csrf_token %}
    <form class="layui-form model-form" id="form-psw">
        {% csrf_token %}
        <div class="layui-form-item">
            <label class="layui-form-label">原始密码:</label>
            <div class="layui-input-block">
                <input type="password" name="oldPsw" placeholder="请输入原始密码" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码:</label>
            <div class="layui-input-block">
                <input type="password" name="newPsw" placeholder="请输入新密码" class="layui-input"
                       lay-verType="tips" lay-verify="required|psw" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码:</label>
            <div class="layui-input-block">
                <input type="password" name="rePsw" placeholder="请再次输入新密码" class="layui-input"
                       lay-verType="tips" lay-verify="required|repsw" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block text-right">
                <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
                <button class="layui-btn" lay-filter="submit-psw" lay-submit>保存</button>
            </div>
        </div>
    </form>


{% endblock %}

{% block footer-js %}
<script type="text/javascript" src="/static/js/home/password.js?v=101"></script>
{% endblock %}
